<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5c36fc0f-ac77-4e17-9613-fd7af2427996</ProjectGuid>
    <EnvironmentName>$(MSBuildThisFileName)</EnvironmentName>
    <DesktopBuildPackageLocation>..\..\..\builds\$(MSBuildThisFileName)\Ellucian.Web.Student.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>development/Student</DeployIisAppPath>
    <_TargetId>IISWebDeployPackage</_TargetId>
  </PropertyGroup>
  <Target Name="ModifySetParameters" BeforeTargets="AfterPublish">
    <PropertyGroup>
      <SetParametersFile>$(MSBuildProjectDirectory)\..\..\..\builds\$(MSBuildThisFileName)\$(MSBuildProjectName).SetParameters.xml</SetParametersFile>
      <apiBaseUrlParameterName>Base Colleague Web API URL</apiBaseUrlParameterName>
      <apiBaseUrlValue>https://somehost/ColleagueApi</apiBaseUrlValue>
    </PropertyGroup>
    <XmlPoke Condition=" Exists('$(SetParametersFile)') "
             XmlInputPath="$(SetParametersFile)"
             Query="//parameters/setParameter[@name='$(apiBaseUrlParameterName)']/@value"
             Value="$(apiBaseUrlValue)"
    />
    <Message Condition="Exists('$(SetParametersFile)')" Text="Set parameter '$(apiBaseUrlParameterName)' to '$(apiBaseUrlValue)'" Importance="high" />
  </Target>
</Project>